:root {
  /* Green (Ophuscado LLC) */
  --foreground-rgb: 127.5, 255, 127.5;
  --background-body: #020;

  /* Elements */
  --background: rgba(var(--foreground-rgb), 0.2);
  --background-alt: rgba(var(--foreground-rgb), 0.1);
  --selection: rgba(var(--foreground-rgb), 0.2);
  --text-main: rgba(var(--foreground-rgb), 0.95);
  --text-bright: rgba(var(--foreground-rgb), 1);
  --text-muted: rgba(var(--foreground-rgb), 0.75);
  --links: rgba(var(--foreground-rgb), 1);
  --focus: rgba(var(--foreground-rgb), 0.75);
  --border: rgba(var(--foreground-rgb), 0.75);
  --code: rgba(var(--foreground-rgb), 0.75);
  --animation-duration: 0.1s;
  --button-hover: rgba(var(--foreground-rgb), 0.75);
  --scrollbar-thumb: rgba(var(--foreground-rgb), 0.75);
  --scrollbar-thumb-hover: rgba(var(--foreground-rgb), 0.75);
  --form-placeholder: rgba(var(--foreground-rgb), 0.75);
  --form-text: rgba(var(--foreground-rgb), 0.75);
  --variable: rgba(var(--foreground-rgb), 0.75);
  --highlight: rgba(var(--foreground-rgb), 0.75);
  --select-arrow: rgba(var(--foreground-rgb), 0.1);
}
